h2{
    text-align: center;
    color: #0400FF;
}
h3{
    text-align: center;
    color: #0400FF;
}
#bg{
    width: 100%;
    height: auto;
    background-color: #FD8B08; 
}
.Pic{
    float: left;
    padding: 20px;
    width: 22%;
    height: auto;
}
.clear{
    clear: left;
}
img{
    width: 100%;
    height: 200px;
}
.content{
    background-color: #FD8B08;
    width: 100%;
    height: 100%;
}